@font-face {
	font-family: 'Intro';
	src: url('../fonts/IntroBoldRegular.eot');
	src: url('../fonts/IntroBoldRegular.eot') format('embedded-opentype'),
		 url('../fonts/IntroBoldRegular.woff2') format('woff2'),
		 url('../fonts/IntroBoldRegular.woff') format('woff'),
		 url('../fonts/IntroBoldRegular.ttf') format('truetype'),
		 url('../fonts/IntroBoldRegular.svg#IntroBoldRegular') format('svg');
	font-family: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Intro Book';
	src: url('../fonts/IntroBook.eot');
	src: url('../fonts/IntroBook.eot') format('embedded-opentype'),
		 url('../fonts/IntroBook.woff2') format('woff2'),
		 url('../fonts/IntroBook.woff') format('woff'),
		 url('../fonts/IntroBook.ttf') format('truetype'),
		 url('../fonts/IntroBook.svg#IntroBook') format('svg');
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/IntroLightRegular.eot');
	src: url('../fonts/IntroLightRegular.eot') format('embedded-opentype'),
		 url('../fonts/IntroLightRegular.woff2') format('woff2'),
		 url('../fonts/IntroLightRegular.woff') format('woff'),
		 url('../fonts/IntroLightRegular.ttf') format('truetype'),
		 url('../fonts/IntroLightRegular.svg#IntroLightRegular') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: url('../fonts/IntroRegularRegular.eot');
	src: url('../fonts/IntroRegularRegular.eot') format('embedded-opentype'),
		 url('../fonts/IntroRegularRegular.woff2') format('woff2'),
		 url('../fonts/IntroRegularRegular.woff') format('woff'),
		 url('../fonts/IntroRegularRegular.ttf') format('truetype'),
		 url('../fonts/IntroRegularRegular.svg#IntroRegularRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto !important;
}

body {
	background: #fff;
	position: relative;
	margin: 0 auto;
	overflow-x: hidden;
}

strong {
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #1f6a6f;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 40px;
	color: #1f6a6f;
}

h3 {
	color: #fff;
	margin: 0;
	font-size: 30px;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #1f6a6f;
}

h4 {
	color: #fff;
	margin: 0;
	font-size: 130px;
	text-align: left;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

input,
textarea {
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: normal;
	width: 730px;
	background: #fff;
	border-radius: 30px;
	border-style: none;
	border-width: 0;
	padding: 10px 25px;
	color: #1f6a6f;
	margin: 25px 0 0 0;
	outline: none;
}

.errors {
	width: 730px;
	background: rgb(211, 18, 18);
	padding: 10px 25px;
	border-radius: 30px;
	font-size: 20px;
	display: none;
	color: white;
}

.errors .error {
	padding-top: 5px;
}

.errors .error:first-child {
	padding-top: 0;
}

.email_dialog {
	display: none;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.email_dialog .dialog {
	background: white;
	width: 600px;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-size: 22px;
	margin: 60px auto;
	padding: 30px;
	border-radius: 12px;
}

.email_dialog input,
.email_dialog textarea {
	width: 100%;
	background: rgb(200, 200, 200);
	border-radius: 10px;
}

.email_dialog textarea {
	resize: none;
	height: 200px;
}

.email_dialog .errors {
	width: 100%;
	border-radius: 10px;
	margin-top: 15px;
}

.email_dialog button {
	border: none;
	background: #b4d385;
	border-radius: 10px;
	color: white;
	text-align: center;
	padding: 13px 30px;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 28px;
	line-height: 1em;
	margin: 20px 20px 0 0;
	transition: all 0.3s linear;
	cursor: pointer;
}

.email_dialog button:hover {
	background: #9AB373;
}

#form {
	position: relative;
	background: url(../links/dog.jpg) no-repeat right bottom #d8e051;
	padding: 45px 70px;
}

#wrapper {
	background: #fff;
	width: 1280px;
	margin: 0 auto;
}

.headerText {
	font-weight: 300;
	font-size: 36px;
}

.progressBar {
	padding: 0 70px;
}

.help::after {
	content: '';
	display: block;
	clear: both;
}

.barText {
	margin: 25px 0 0 0;
}

.barText small {
	display: none;
}

.help .barText {
	float: left;
	line-height: 62px;
	margin: 0 10px 0 0;
}

.help .button {
	float: left;
	display: block;
	background: #b4d385;
	border-radius: 35px;
	color: white;
	text-align: center;
	padding: 13px 30px;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 1em;
	margin-left: 20px;
	transition: all 0.3s linear;
}

.help .button:hover {
	background: #9AB373;
}

.progress_bar {
	position: relative;
	height: 60px;
	width: 100%;
	background: rgb(22,86,88); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(22,86,88,1) 0%, rgba(22,107,110,1) 50%, rgba(22,87,89,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,86,88,1)), color-stop(50%,rgba(22,107,110,1)), color-stop(100%,rgba(22,87,89,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(22,86,88,1) 0%,rgba(22,107,110,1) 50%,rgba(22,87,89,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(22,86,88,1) 0%,rgba(22,107,110,1) 50%,rgba(22,87,89,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(22,86,88,1) 0%,rgba(22,107,110,1) 50%,rgba(22,87,89,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(22,86,88,1) 0%,rgba(22,107,110,1) 50%,rgba(22,87,89,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#165658', endColorstr='#165759',GradientType=0 ); /* IE6-9 */
	border: 5px solid #1c5859;
	border-radius: 100px;
	margin: 15px 0;
	overflow: hidden;
}

.progress_bar .goal {
	position: absolute;
	top: 8px;
	right: 12px;
	color: #2B858B;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 1em;
}

.progress_bar .bar {
	height: 50px;
	background: rgb(144,168,72); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(144,168,72,1) 0%, rgba(177,212,82,1) 50%, rgba(144,168,72,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(144,168,72,1)), color-stop(50%,rgba(177,212,82,1)), color-stop(100%,rgba(144,168,72,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(144,168,72,1) 0%,rgba(177,212,82,1) 50%,rgba(144,168,72,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(144,168,72,1) 0%,rgba(177,212,82,1) 50%,rgba(144,168,72,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(144,168,72,1) 0%,rgba(177,212,82,1) 50%,rgba(144,168,72,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(144,168,72,1) 0%,rgba(177,212,82,1) 50%,rgba(144,168,72,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90a848', endColorstr='#90a848',GradientType=0 ); /* IE6-9 */
	border-radius: 100px;
	position: relative;
}

.progress_bar .bar .current_amount {
	position: absolute;
	top: 8px;
	right: 12px;
	color: #FFFFFF;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 1em;
}

.progress_bar .bar.outside .current_amount {
	right: -60px;
}
.progress_bar .bar.outside.double .current_amount {
	right: -75px;
}

#info {
	margin-top: 45px;
	height: 485px;
	background: url(../links/back.jpg) no-repeat top left;
	padding: 90px 70px 0 70px;
}

.infoHead {
	color: #fff;
	margin-bottom: 30px;
}

.infoTable::after {
	content: '';
	display: block;
	clear: both;
}

.infoTable .cell {
	float: left;
	width: 33.3333%;
	padding: 0 30px;
	border-right: 5px solid #b4d488;
	vertical-align: top;
	height: 280px;
}

.infoTable .cell:last-child {
	border-right: 0px;
}

.amount {
	letter-spacing: -5px;
	line-height: 1em;
}

.amount sup {
	font-size: 65px;
	position: relative;
	vertical-align: baseline;
	top: -0.7em;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 65px;
}

.amountInfo {
	color: #fff;
	font-size: 28px;
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
}

.formHead {
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 0px 230px 20px 0;
	text-shadow: 2px 2px 5px rgba(51, 51, 51, 0.3);
}

.disclaimer {
	margin: 30px 0 0 0;
	font-size: 15px;
	text-align: center;
	color: #fff;
}


::-webkit-input-placeholder {
   color:  #1f6a6f;
   font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color:  #1f6a6f;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:  #1f6a6f;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
}

:-ms-input-placeholder {
   color:  #1f6a6f;
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label span {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 65px;
}

#radio1 + label span {
	background: url(../links/btn5.png);
}

#radio1:checked + label span {
	background: url(../links/btn5Select.png);
}

#radio2 + label span {
	background: url(../links/btn10.png);
}

#radio2:checked + label span {
	background: url(../links/btn10Select.png);
}

#radio3 + label span {
	background: url(../links/btn15.png);
}

#radio3:checked + label span {
	background: url(../links/btn15Select.png);
}

#radio4 + label span {
	background: url(../links/btn20.png);
}

#radio4:checked + label span {
	background: url(../links/btn20Select.png);
}

label {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	cursor: pointer;
}

label span {
	position: relative;
	border-radius: 25px;
	display: inline-block;
}

.radios {
	margin: 25px 0 0 30px;
}

.exp {
	width: 170px;
}

.exp2 {
	width: 195px;
	margin: 0 0 0 15px;
}

.cvv {
	width: 115px;
	margin: 0 0 0 15px;
}

.radios h2 {
	float: left;
	line-height: 65px;
	margin: 0 80px 0 0;
}

.submit {
	font-family: 'Intro' ,'Helvetica', Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-color: #1f6a6f;
	border-radius: 100px;
	border-width: 0px;
	width: 180px;
	position: relative;
	cursor: pointer;
	color: #ffffff;
	font-size: 36px;
	padding: 12px 31px;
	text-decoration: none;
	margin: 20px 0 0 550px;
	line-height: 1em;
	outline: none;
}

.submit:hover {
	background-color: #278789;
}

.submit:active {
	position: relative;
	top: 1px;
}

.infoTableMob {
	display: none;
}

.spacer {
	height: 50px;
}

@media screen and (max-width: 1280px) {

	#wrapper {
		width: 1024px;
	}

	.headerText {
		font-size: 32px;
	}

	.barText {
		text-align: center;
	}

	.help {
		text-align: center;
	}

	.help .barText {
		float: none;
		margin-bottom: 10px;
	}

	.help .button {
		float: none;
		display: inline-block;
		margin: 0 10px;
	}

	#info {
		background-size: cover;
		padding: 80px 50px 0 50px;
	}

	.amount {
		font-size: 100px;
	}

	.amount sup {
		font-size: 50px;
	}

	.amountInfo {
		font-size: 24px;
	}

	#form {
		position: relative;
		padding: 40px 50px;
	}

	.formHead {
		width: 100%;
	}

	input {
		width: 60%;
		margin: 25px 0 0 0;
		padding: 6px 20px;
	}

	.radios {
		margin: 25px 0 0 0;
	}

	.radios h2 {
		float: none;
		padding: 0 30px 0 0;
		margin: 10px 0 20px 15px;
		line-height: 44px;
	}

	label span {
		position: static;
		border-radius: 25px;
		display: block;
	}

	.submit {
		margin: 30px 0;
	}

	.progress_bar .bar .current_amount {
		display: none;
	}

	.barText small {
		display: inline;
	}

	.email_dialog input,
	.email_dialog textarea {
		margin: 15px 0 0 0;
	}

	.email_dialog textarea {
		padding: 6px 20px;
	}

	.email_dialog button {
		margin: 10px 10px 0 0;
	}
}

@media screen and (max-width: 1024px) {

	#wrapper {
		width: 100%;
	}

	.email_dialog input,
	.email_dialog textarea,
	.email_dialog button {
		font-size: 26px;
	}

	.email_dialog button {
		padding: 10px 25px;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 23px;
	}

	.help .barText {
		line-height: 1em;
	}

	.help .button {
		font-size: 22px;
		margin: 10px;
	}

	.headerText {
		padding: 0 30px 0 30px;
		text-align: center;
	}

	#header {
		width: 100%;
		height: auto;
		margin: 0 auto;
		background-size: 100% auto;
		background-position: 0 200px;
	}

	#info {
		height: auto;
	}

	.infoTable .cell {
		float: none;
		width: 100%;
		height: auto;
		border: none;
		padding: 10px 0;
		border-top: 3px solid #b4d488;
		text-align: center;
	}

	.infoTable .cell h4 {
		text-align: center;
	}

	.infoTable .cell:first-child {
		border-top: none;
	}

	.disclaimer {
		margin-top: 10px;
	}

	.bar {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.headerText {
		font-size: 20px;
	}

	input {
		width: 80%;
		margin: 15px 0 0 0;
	}

	.exp2 {
		width: 80%;
		margin: 15px 0 0 0;
	}

	.exp {
		width: 80%;
	}

	.cvv {
		width: 80%;
		margin: 15px 0 0 0;
	}

	.submit {
		margin: 15px 0;
	}

	.amountInfo {
		font-size: 18px;
		margin: 0;
		padding: 0;
	}

	.amount {
		font-size: 70px;
	}

	.amount sup {
		font-size: 35px;
	}

	.radios h2 {
		padding: 0;
		margin: 10px 0 10px 15px;
		text-align: left;
	}
}